{# /views/member/finish.twig #}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>会員登録完了</title>
</head>
<body>
<div>
    メールドレス
    {{ member.email }}
</div>
<div>
    パスワード
    {{ member.password }}
</div>
</body>
</html>